/* css for project cards */
.wrapper-grid {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px; */
    padding: 20px;
}

.project-card {
    background-color: #ffff85; /* Primary color */
    color: #000000; /* Text color */
    border-radius: 5px;
    text-align: center;
    /* max-width: 200px; */
}

.proj-title-div {
    background-color: #e6d604;
    border-radius: 5px 5px 0 0;
    padding: 4px;
}

.proj-title-div h2 {
    text-transform: uppercase;
    text-decoration: underline;
}

.proj-tasks {
    text-align: left;
    padding: 10px;
    /* display: flex;
    flex-direction: column;
    gap: 20px; */
}

.task-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    text-decoration: none;
    color: inherit;
    padding: 20px 10px;
}

.task-flex {
    display: flex;
    gap: 30px;
    align-items: center;
}

/* star in cards */
.star {
    visibility:hidden;
    font-size:25px;
    cursor:pointer;
}
.star:before {
   content: "\2606";
   position: relative;
   visibility:visible;
   color: #2c8aef;
   top: -8px;
}
.star:checked:before {
   content: "\2605";
   position: relative;
   top: -8px;
}



.addtask-button {
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    background-color: #24A0ED;
    border: none;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0 4px #0056b3;
    transition: all 0.4s ease;
}

.addtask-button:hover {
    transform: scale(1.1);
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove-task{
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    background-color: #e2151f; 
}

.edit-task{
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    background-color: #007bff; 
}

.remove-task:hover {
    background-color: #6a0a0c;   
}

/* task adding form css  */
.task-container{
    display: none;
}

#add-task-form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background: #f9f9f9;
    color: black;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input[type="text"],
  .form-group input[type="date"],
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding doesn't increase the input's size */
  }
  
  .form-group textarea {
    height: 100px;
    resize: vertical; /* Allows vertical resizing, not horizontal */
  }
  
  .form-group input[type="checkbox"] {
    margin-right: 10px;
  }

.form-buttons{
    display: flex;
    justify-content: space-evenly ;
}
  
.form-buttons button{
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]{
    background-color: #007bff;   
}

#cancel-button{
    background-color: #e2151f;   
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

#cancel-button:hover {
    background-color: #6a0a0c;   
}


  
/* edit task form  */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-task-form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.edit-task-form .edit-task-submit, .edit-task-form .edit-task-cancel{
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px; 
}

.edit-task-form .edit-task-cancel {
    background-color: #e2151f;
}

